		 <header id="page-header" style="background-color: rgba(0, 0, 0, 0);">
	        <!-- Header Content -->
	        <div class="content-header p-0">
				<div class="row col-12 pt-1" style="margin:0px;">
					<div class="col-2 text-center">
					<!--<img src="assets/media/images/tamilnadu-logo.png" style="padding-top:2px;" width="50px" alt="Tamilnadu Logo">-->
					</div>
					<div class="col-2 text-center">
				        <img src='assets/media/images/logo-sm.png' width="55" alt="Logo Sm">
					</div>

					<div class="col-8 text-center" style="font-size:13px;">
						பெருநகர சென்னை மாநகராட்சி
					</div>
				</div>
	        </div>
	      </header>