<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

	<title th:text="'GCC - '+${title}">GCC</title>
	
	<base th:href="${assetsBaseUrl}">
    
    <meta name="description" content="GCC - Pet Registry">
    <meta name="author" content="BonTon Softwares pvt Limited">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="Pet Register">
    <meta property="og:site_name" content="GCC">
    <meta property="og:description" content="Greater Chennai Corporation - Pet Registry">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/support/assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="http://gccservices.chennaicorporation.gov.in:8069/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://gccservices.chennaicorporation.gov.in:8069/assets/media/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Page JS Plugins CSS -->
<!--    <link rel="stylesheet" href="http://gccservices.chennaicorporation.gov.in:8069/assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">-->
<!--    <link rel="stylesheet" href="http://gccservices.chennaicorporation.gov.in:8069/assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">-->
<!--    <link rel="stylesheet" href="http://gccservices.chennaicorporation.gov.in:8069/assets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">-->
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="http://gccservices.chennaicorporation.gov.in:8069/assets/js/plugins/sweetalert2/sweetalert2.min.css">
    <!-- Dashmix framework -->
    <link rel="stylesheet" id="css-main" href="http://gccservices.chennaicorporation.gov.in:8069/assets/css/dashmix.css">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="http://gccservices.chennaicorporation.gov.in:8069/assets/css/themes/xwork.min.css"> -->
	<link rel="stylesheet" id="css-theme" href="http://gccservices.chennaicorporation.gov.in:8069/assets/css/themes/xinspire.css">
    <!-- END Stylesheets -->
  </head>
