          <div class="content-side">
            <ul class="nav-main">
              <li class="nav-main-item">
                <a class="nav-main-link" href="/report">
                  <i class="nav-main-link-icon fa fa-location-arrow"></i>
                  <span class="nav-main-link-name">Home</span>
                </a>
              </li>

              <li class="nav-main-item">
                <a class="nav-main-link" href="/logout">
                  <i class="nav-main-link-icon fa fa-location-arrow"></i>
                  <span class="nav-main-link-name">Sign Out</span>
                </a>
              </li>
              
              <!-- <li class="nav-main-item">
                <a class="nav-main-link" href="/licenserequest">
                  <i class="nav-main-link-icon fa fa-location-arrow"></i>
                  <span class="nav-main-link-name">Pet License Request</span>
                </a>
              </li> -->
              
              
            </ul>
          </div>